header {
    width: 100%;
    display: flex; /* header 안 모든 태그 가로 정렬 */
}

#logo {
    margin: 10px;
    width: 128px;
}

header ul {
    list-style: none;
    display: flex; /* 가로 정렬(float과 같은 역할) */
    align-items: center; /* 수직 중앙 정렬 */
}

header ul li { /* 공통 적용 li CSS */
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}

header ul li:hover {
    color: green;
}

#left li {
    padding: 22px 16px;
}

#right li {
    padding: 22px 10px;
}

#right {
    margin-left: auto; /* margin-left: auto를 주게 되면 오른쪽으로 붙게 됨 */
    margin-right: 10px;
}

.dropdownChild {
    display: none;
}

.dropdownParent:hover .dropdownChild {
    display: flex;
    flex-direction: column;
}